@font-face{
    font-family: poppins;
    src: url(../fonts/poppins.ttf);
    font-weight: normal;
}

@font-face{
    font-family: poppinsMedium;
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: bold;
}
/*
background-color: #0475BA

*/

body, h1, h2, h3, p {
    margin: 0;
    font-family: poppins;
}
.primary-block{
    background-color: #0475BA;
    color: white;
}
.primary-block a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.secondary-block h3, .secondary-block h2{
    color: #0475BA;
}

/* un nav diff

nav {
display: flex;
flex-direction: row;
height:72px
align-items:center
padding: 0px 32px
}
*/
nav h2 {
    padding: 22px;
}

#menu ul{
    display: none;
}

header, section {
    padding: 40px 0px;
}
footer{
    padding: 40px;
}

/*
    Style du header
*/

header{
    text-align: center;
}

header h2 {
    padding: 16px;
}

header img{
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 4px
}


/*
    Style section
*/
}
.block-couleur h3 {
    text-align: center;
}
#presentation {
    max-width: 1200px;
    margin: auto;    
}
#experience {
    max-width: 1200px;
    margin: auto;
}
#experience-space{
    padding: 0px;
}
#experience h3{
    text-align: center;
    color: #0475BA;
}
.experience-title {
    display: flex;
    justify-content: space-between ;
    margin: 12px 0px;
}
.text-experience{
    font-weight: bolder;
}

#formations{
    margin: auto;
    max-width: 1200px;
}
#passions{
    max-width: 1200px;
    margin: auto;
}
#passions h3{
    text-align: center;
    color: #0475BA;
}
#passions p{
    margin: 12px 0px;
}
#passions p{
    padding: 0px;
}
.liste-sans-points {
    list-style: none;
    padding: 0px;
}

/*
    les icones du footer
*/

i {
    margin-right: 8px;
}



@media (min-width: 788px){
        #menu{
        display: flex;
    }
    #menu ul {
        display: flex;
        
        
    }
    #menu ul li{
        margin: 0px 8px;
        list-style-type: none;
        padding: 11px 0px;
        
 
    }
    header{
        display: flex;
        justify-content: space-between;
        margin: auto;
        max-width: 668px;
    }

    #text-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #header-description{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #presentation h3 {
        text-align: left;
    }
    #experience h3{
        text-align: left;
    }

    #formations h3 {
        text-align: left;
    }
    #passions h3 {
        text-align: left;
    }
    .block-couleur{
        background-color: #0475BA;
    }
    #footer{
        display: flex;
        flex-direction: row;
        padding: 40px;
        
    }
    #reseau{
        padding-left: 350px;
    }

}